* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100vh;
  overflow: hidden;
}

.game__console {
  height: 199px;
  background-color: transparent;
}

.scoreboard {
  position: fixed;
  padding: 1rem;
  top: 0;
  left: 0;
  height: 75px;
  width: 100%;
  background-color: #e65a3a;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.stats {
  display:;
}

.scoreboard p {
  font-size: 2rem;
  margin-left: 2rem;
  display: inline-block;
}